 

venv\Scripts\activate
uvicorn app.main:app --reload --port 8000

pip install elevenlabs python-dotenv

ollama pull nomic-embed-text

pip install chromadb

fastapi
uvicorn
sqlalchemy
pymysql
pydantic
pydantic-settings
python-dotenv
httpx
chromadb
ollama